In [1]:
# Packages need to import
import pandas as pd
import numpy as np
import random
import scipy.stats as stats
from sklearn.metrics.pairwise import cosine_similarity
from statsmodels.stats.weightstats import ttest_ind
import pingouin as pg
from sklearn import preprocessing

In [2]:
# Load data of clothing items ranking
df1 = pd.read_excel('with_prefer_a.xlsx') # including user preferences
df2 = pd.read_excel('without_prefer_a.xlsx') # without including user preferences

In [3]:
# The shopping intents that have to analyse
total_intents = ['Home', 'Business Meeting', 'Gym/Sport', 'Party', 'Outdoor', 'School/Office', 'Meetup with Friends & Family', 'Club or Bar']
total_intents1 = []
for intent in total_intents:
    total_intents1.append(intent.lower())
print(total_intents1)

['home', 'business meeting', 'gym/sport', 'party', 'outdoor', 'school/office', 'meetup with friends & family', 'club or bar']

In [4]:
users1 = df1.shape[0] # number of users along their preferences
users2 = df2.shape[0] # number of user without their preferences

In [5]:
# Function that converts string into list
#ab = '([1,2,3], [2,1,3])'
def convertToList(ab):
    ab = ab[2:-2]
    ab = ab.split('], [')
    a = ab[0]
    b = ab[1]
    c = []
    for each in a:
        if each != ',' and each != ' ':
            c.append(each)
    c= list(map(int, c))
    d = []
    for each in b:
        if each != ',' and each != ' ':
            d.append(each)
    d= list(map(int, d))
    return c, d
#convertToList(ab)

In [6]:
# Get euclidean distance for one intent,.....with the incorporation of shopping preferences
# gym/sport, outdoor, business meeting....#17 for party, #9 for school/office, #2,#9,#17 for home, #9,#67 meetup with friends & family, #17 for club or bar
def per_col_dist1(j):
    col_tau = []
    for i in range(0, users1):
        if (df1.loc[i, j] == 'a'):
            pass
        else:
            ab = df1.loc[i, j]
            a, b = convertToList(ab)
            tau, p_value = stats.weightedtau(np.array([a]), np.array([b]))
            col_tau.append(tau)
    return col_tau
#per_col_dist1('club or bar')

In [7]:
# It calculates distances for all shopping intents with the incorporation of shopping preferences
def all_cols_dist1(total_intents1):
    per_intent_avg_dist = []
    for i in total_intents1:
        x = per_col_dist1(i)
        per_intent_avg_dist.append([i,x])
    return per_intent_avg_dist
#all_cols_dist1(total_intents1)

In [8]:
# Generate a dataframe with all distances for all intents with the incorporation of shopping preferences
score_list1 = all_cols_dist1(total_intents1)
def make_scores_df1(score_list):
    listing = []
    list_header = []
    for each in score_list:
        intent_wise_df = pd.Series(each[1])
        listing.append(intent_wise_df)
        list_header.append(f"{each[0]} with")
    scores_df = pd.concat(listing, axis=1)
    scores_df.columns = list_header
    scores_df = scores_df.assign(id=np.arange(52))
    return scores_df
#make_scores_df1(score_list1)

In [9]:
# Get euclidean distance for one intent,.....without incorporating shopping preferences
# gym/sport, outdoor, business meeting....#17 for party, #9 for school/office, #2,#9,#17 for home, #9,#67 meetup with friends & family, #17 for club or bar
def per_col_dist2(j):
    col_tau = []
    for i in range(0, users2):
        if (df2.loc[i, j] == 'a'):
            pass
        else:
            ab = df2.loc[i, j]
            a, b = convertToList(ab)
            tau, p_value = stats.weightedtau(np.array([a]), np.array([b]))
            col_tau.append(tau)
    return col_tau
#per_col_dist2('club or bar')

In [10]:
# It calculates distances for all shopping intents without incorporating shopping preferences
def all_cols_dist2(total_intents1):
    per_intent_avg_dist = []
    for i in total_intents1:
        x = per_col_dist2(i)
        per_intent_avg_dist.append([i,x])
    return per_intent_avg_dist
#all_cols_dist2(total_intents1)

In [11]:
# Generate a dataframe with all distances for all intents without incorporating shopping preferences
score_list2 = all_cols_dist2(total_intents1)
def make_scores_df2(score_list):
    listing = []
    list_header = []
    for each in score_list:
        intent_wise_df = pd.Series(each[1])
        listing.append(intent_wise_df)
        list_header.append(f"{each[0]} without")
    scores_df = pd.concat(listing, axis=1)
    scores_df.columns = list_header
    scores_df = scores_df.assign(id=np.arange(56))
    return scores_df
#make_scores_df2(score_list2)

In [12]:
# Merge the with and without user preferences based outcomes
df11 = make_scores_df1(score_list1)
df12 = make_scores_df2(score_list2)
final_scores_df1 = df11.merge(df12, how='right', on='id')
final_scores_df1 = final_scores_df1.drop(['id'], axis=1)
final_scores_df1

,home with,business meeting with,gym/sport with,party with,outdoor with,school/office with,meetup with friends & family with,club or bar with,home without,business meeting without,gym/sport without,party without,outdoor without,school/office without,meetup with friends & family without,club or bar without
0,0.019048,0.197080,1.000000,-0.427007,0.600000,-0.173333,-0.262774,-0.363636,1.000000,-0.363636,0.098540,1.000000,1.000000,0.656934,0.763265,1.000000
1,1.000000,1.000000,-0.302920,0.578467,0.520049,0.437956,1.000000,1.000000,-0.293333,-0.733333,1.000000,0.306667,0.533333,0.520000,-0.666667,-0.302920
2,1.000000,1.000000,1.000000,1.000000,1.000000,-0.363636,0.545455,1.000000,0.000000,0.533333,-0.440000,-0.655109,-0.293333,-0.363636,1.000000,-1.000000
3,-0.430657,1.000000,1.000000,0.476190,-0.568707,1.000000,1.000000,1.000000,0.813333,-0.293333,0.813333,0.520000,0.828571,0.441606,-0.126531,-0.363636
4,-0.363636,0.452555,1.000000,1.000000,1.000000,-0.363636,0.656934,0.489796,-0.440000,0.813333,1.000000,-0.495238,0.213504,1.000000,-0.363636,0.790476
5,0.306667,0.452555,1.000000,0.280272,0.181818,1.000000,0.526938,1.000000,1.000000,-0.173333,-0.427007,0.213504,1.000000,-0.209524,-0.733333,-0.066667
6,-0.363636,1.000000,1.000000,1.000000,0.000000,1.000000,-0.066667,-0.333333,0.520000,1.000000,0.533333,1.000000,-0.173333,0.441606,1.000000,-0.450340
7,1.000000,1.000000,0.680657,-1.000000,-0.007299,-0.162409,1.000000,0.200000,0.528879,1.000000,-0.354015,0.000000,0.528620,0.098540,0.565693,1.000000
8,0.306667,1.000000,-0.173333,1.000000,1.000000,0.371429,0.520000,0.181818,0.114964,-0.146465,0.680657,-0.518367,-1.000000,0.671533,1.000000,1.000000
9,-0.149635,0.306667,-0.066667,1.000000,1.000000,1.000000,1.000000,0.543796,0.689796,1.000000,0.817518,-0.293333,0.284672,-0.844891,0.451701,0.733333
10,0.578467,1.000000,1.000000,1.000000,0.181818,1.000000,1.000000,0.533333,0.117007,0.872263,1.000000,0.315693,0.678912,0.452555,-0.666667,0.200000
11,0.354015,-0.363636,1.000000,1.000000,-0.134680,1.000000,1.000000,1.000000,0.565693,-0.363636,0.428571,-0.593197,0.901460,1.000000,-0.440000,0.306667
12,1.000000,0.000000,1.000000,0.200000,0.213504,1.000000,1.000000,-0.066667,0.533333,-0.363636,-0.363636,1.000000,-0.262585,0.901460,-1.000000,0.813333
13,1.000000,1.000000,1.000000,1.000000,0.813333,0.889619,1.000000,-0.066667,0.520000,-0.293333,0.813333,0.763265,-0.066667,0.200000,-0.440000,-0.666667
14,1.000000,-0.114129,1.000000,0.284672,-0.440000,0.813333,1.000000,-0.440000,-0.733333,0.452555,-0.733333,0.671533,0.027372,1.000000,0.520000,0.520000
15,0.200000,1.000000,1.000000,1.000000,1.000000,1.000000,-0.427007,1.000000,0.525547,0.813333,-0.486991,0.156934,-0.572993,-1.000000,NaN,-0.293333
16,-0.293333,0.306667,1.000000,0.533333,0.181818,1.000000,0.940136,0.306667,0.901460,0.181818,0.543796,-0.162409,1.000000,0.200000,NaN,0.696599
17,-0.066667,1.000000,1.000000,0.319728,0.200000,-0.666667,1.000000,1.000000,0.105839,0.520000,-0.333333,0.105839,-0.655109,-1.000000,NaN,0.293695
18,-0.489796,1.000000,1.000000,0.813333,1.000000,1.000000,NaN,-0.333333,-0.027372,1.000000,-1.000000,0.452555,0.270073,0.014599,NaN,-1.000000
19,1.000000,1.000000,0.157823,1.000000,0.545455,0.872263,NaN,1.000000,1.000000,0.798639,0.200000,0.114964,1.000000,-0.541322,NaN,0.000000
20,1.000000,0.525547,0.333333,1.000000,1.000000,1.000000,NaN,-0.666667,-0.293333,0.183343,0.181818,1.000000,-0.363636,0.706765,NaN,0.620408
21,1.000000,0.000000,1.000000,1.000000,0.572993,0.813333,NaN,0.200000,-0.363636,0.565693,0.733333,1.000000,1.000000,0.200000,NaN,0.520000
22,-0.567518,1.000000,1.000000,-0.600000,0.533333,1.000000,NaN,0.200000,-0.066667,0.181818,0.200730,0.545455,-0.304745,0.000000,NaN,NaN
23,0.200000,1.000000,1.000000,-1.000000,0.533333,1.000000,NaN,1.000000,0.813333,1.000000,0.000000,-0.066667,0.200000,NaN,NaN,NaN
24,1.000000,0.813333,0.194558,0.671533,1.000000,0.200000,NaN,1.000000,0.328467,1.000000,0.181818,0.200000,1.000000,NaN,NaN,NaN
25,-0.007299,-0.027372,0.200730,1.000000,0.533333,1.000000,NaN,1.000000,1.000000,0.520000,0.813333,1.000000,1.000000,NaN,NaN,NaN
26,-0.733333,1.000000,0.733333,0.315693,0.545455,NaN,NaN,1.000000,1.000000,1.000000,NaN,-1.000000,0.162228,NaN,NaN,NaN
27,0.813333,0.680657,-0.463504,-0.510919,1.000000,NaN,NaN,1.000000,-0.066667,0.533333,NaN,-0.167347,0.441606,NaN,NaN,NaN
28,1.000000,1.000000,-0.733333,1.000000,0.027211,NaN,NaN,1.000000,-0.030303,0.200000,NaN,-0.666667,0.733333,NaN,NaN,NaN
29,1.000000,-0.149635,0.367347,1.000000,1.000000,NaN,NaN,0.591837,0.333333,0.225605,NaN,0.813333,0.813333,NaN,NaN,NaN
30,0.272109,0.817518,0.000000,-0.273723,0.520000,NaN,NaN,1.000000,-0.363636,0.828571,NaN,-0.173333,-0.066667,NaN,NaN,NaN
31,0.770073,1.000000,NaN,1.000000,1.000000,NaN,NaN,0.729252,0.533333,1.000000,NaN,1.000000,-1.000000,NaN,NaN,NaN
32,1.000000,1.000000,NaN,0.770073,0.452555,NaN,NaN,1.000000,-0.333333,-0.085714,NaN,0.068027,0.520000,NaN,NaN,NaN
33,1.000000,1.000000,NaN,-0.752381,1.000000,NaN,NaN,NaN,0.533333,-0.333333,NaN,0.099320,1.000000,NaN,NaN,NaN
34,0.755102,0.733333,NaN,1.000000,1.000000,NaN,NaN,NaN,-0.293333,-1.000000,NaN,0.354015,-0.104762,NaN,NaN,NaN
35,1.000000,-0.363636,NaN,1.000000,1.000000,NaN,NaN,NaN,0.533333,0.533333,NaN,-1.000000,0.324197,NaN,NaN,NaN
36,-0.293333,-0.008448,NaN,NaN,1.000000,NaN,NaN,NaN,0.545455,0.813333,NaN,-0.440000,0.194856,NaN,NaN,NaN
37,-0.333333,-0.532847,NaN,NaN,1.000000,NaN,NaN,NaN,1.000000,-0.113139,NaN,0.000000,0.680657,NaN,NaN,NaN
38,1.000000,-0.113139,NaN,NaN,1.000000,NaN,NaN,NaN,0.330612,-0.333333,NaN,-0.293333,0.671533,NaN,NaN,NaN
39,1.000000,1.000000,NaN,NaN,1.000000,NaN,NaN,NaN,1.000000,0.200000,NaN,-1.000000,0.200000,NaN,NaN,NaN
40,1.000000,1.000000,NaN,NaN,0.533333,NaN,NaN,NaN,0.330612,-0.066667,NaN,-0.273723,0.000000,NaN,NaN,NaN
41,1.000000,0.417687,NaN,NaN,-0.113139,NaN,NaN,NaN,-0.631387,1.000000,NaN,1.000000,1.000000,NaN,NaN,NaN
42,1.000000,0.912458,NaN,NaN,1.000000,NaN,NaN,NaN,-0.733333,-0.631387,NaN,0.200000,-0.440000,NaN,NaN,NaN
43,-0.066667,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,-1.000000,0.646259,NaN,-0.333333,-0.113139,NaN,NaN,NaN
44,-0.153285,NaN,NaN,NaN,0.087591,NaN,NaN,NaN,0.533333,NaN,NaN,0.200000,0.200000,NaN,NaN,NaN
45,0.441606,NaN,NaN,NaN,-0.056933,NaN,NaN,NaN,0.533333,NaN,NaN,-0.631387,-0.666667,NaN,NaN,NaN
46,0.520000,NaN,NaN,NaN,-0.293333,NaN,NaN,NaN,0.733333,NaN,NaN,0.181818,-1.000000,NaN,NaN,NaN
47,1.000000,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,-0.333333,NaN,NaN,-1.000000,-0.293333,NaN,NaN,NaN
48,-0.182313,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,-0.153285,NaN,NaN,NaN,-0.066667,NaN,NaN,NaN
49,0.396847,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,1.000000,NaN,NaN,NaN
50,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.363636,NaN,NaN,NaN,-0.440000,NaN,NaN,NaN
51,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.533333,NaN,NaN,NaN,-0.666667,NaN,NaN,NaN
52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.066667,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.545455,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.354015,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.813333,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
# Save the all calculated scores in a file 
final_scores_df1.to_csv('scores_wtau.csv')

In [14]:
# Calculate overall mean and standard devaition for with and without inclusion of user preferences
df11_overall = df11.iloc[:,0:8]
p_mean = np.nanmean(df11_overall) 
p_std = np.nanstd(df11_overall)
print(f" overall mean is {p_mean}")
print(f" overall standard deviation is {p_std}")
df12_overall = df12.iloc[:,0:8]
q_mean = np.nanmean(df12_overall) 
q_std = np.nanstd(df12_overall)
print(f" overall mean is {q_mean}")
print(f" overall standard deviation is {q_std}")

 overall mean is 0.5623621483809254
 overall standard deviation is 0.5355475258933694
 overall mean is 0.2127263232020593
 overall standard deviation is 0.5933960332391564

In [15]:
# Normalize data
x = final_scores_df1.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
final_scores_df = pd.DataFrame(x_scaled)
final_scores_df.columns= final_scores_df1.columns
print(final_scores_df)

    home with  business meeting with  gym/sport with  party with  \
0    0.434066               0.476190        1.000000    0.286496
1    1.000000               1.000000        0.248316    0.789234
2    1.000000               1.000000        1.000000    1.000000
3    0.174621               1.000000        1.000000    0.738095
4    0.213287               0.642857        1.000000    1.000000
5    0.600000               0.642857        1.000000    0.640136
6    0.213287               1.000000        1.000000    1.000000
7    1.000000               1.000000        0.815764    0.000000
8    0.600000               1.000000        0.323077    1.000000
9    0.336749               0.547683        0.384615    1.000000
10   0.756808               1.000000        1.000000    1.000000
11   0.627316               0.110390        1.000000    1.000000
12   1.000000               0.347619        1.000000    0.600000
13   1.000000               1.000000        1.000000    1.000000
14   1.000000               0.273164        1.000000    0.642336
15   0.538462               1.000000        1.000000    1.000000
16   0.253846               0.547683        1.000000    0.766667
17   0.384615               1.000000        1.000000    0.659864
18   0.140502               1.000000        1.000000    0.906667
19   1.000000               1.000000        0.514129    1.000000
20   1.000000               0.690476        0.615385    1.000000
21   1.000000               0.347619        1.000000    1.000000
22   0.095663               1.000000        1.000000    0.200000
23   0.538462               1.000000        1.000000    0.000000
24   1.000000               0.878222        0.535322    0.835766
25   0.418866               0.329762        0.538883    1.000000
26   0.000000               1.000000        0.846154    0.657847
27   0.892308               0.791667        0.155671    0.244540
28   1.000000               1.000000        0.000000    1.000000
29   1.000000               0.250000        0.635008    1.000000
30   0.580063               0.880952        0.423077    0.363139
31   0.867350               1.000000             NaN    1.000000
32   1.000000               1.000000             NaN    0.885036
33   1.000000               1.000000             NaN    0.123810
34   0.858713               0.826032             NaN    1.000000
35   1.000000               0.110390             NaN    1.000000
36   0.253846               0.342108             NaN         NaN
37   0.230769               0.000000             NaN         NaN
38   1.000000               0.273810             NaN         NaN
39   1.000000               1.000000             NaN         NaN
40   1.000000               1.000000             NaN         NaN
41   1.000000               0.620110             NaN         NaN
42   1.000000               0.942889             NaN         NaN
43   0.384615                    NaN             NaN         NaN
44   0.334643                    NaN             NaN         NaN
45   0.677850                    NaN             NaN         NaN
46   0.723077                    NaN             NaN         NaN
47   1.000000                    NaN             NaN         NaN
48   0.317896                    NaN             NaN         NaN
49   0.652027                    NaN             NaN         NaN
50   1.000000                    NaN             NaN         NaN
51   1.000000                    NaN             NaN         NaN
52        NaN                    NaN             NaN         NaN
53        NaN                    NaN             NaN         NaN
54        NaN                    NaN             NaN         NaN
55        NaN                    NaN             NaN         NaN

    outdoor with  school/office with  meetup with friends & family with  \
0       0.745013            0.296000                           0.115090
1       0.694047            0.662774                           1.000000
2       1.000000            0.181818                           0.681469
3       0.000000            1.000000                           1.000000
4       1.000000            0.181818                           0.759591
5       0.478436            1.000000                           0.668494
6       0.362533            1.000000                           0.252515
7       0.357879            0.302555                           1.000000
8       1.000000            0.622857                           0.663632
9       1.000000            1.000000                           1.000000
10      0.478436            1.000000                           1.000000
11      0.276678            1.000000                           1.000000
12      0.498634            1.000000                           1.000000
13      0.881006            0.933771                           1.000000
14      0.082047            0.888000                           1.000000
15      1.000000            1.000000                           0.000000
16      0.478436            1.000000                           0.958049
17      0.490026            0.000000                           1.000000
18      1.000000            1.000000                                NaN
19      0.710242            0.923358                                NaN
20      1.000000            1.000000                                NaN
21      0.727797            0.888000                                NaN
22      0.702515            1.000000                                NaN
23      0.702515            1.000000                                NaN
24      1.000000            0.520000                                NaN
25      0.702515            1.000000                                NaN
26      0.710242                 NaN                                NaN
27      1.000000                 NaN                                NaN
28      0.379879                 NaN                                NaN
29      1.000000                 NaN                                NaN
30      0.694016                 NaN                                NaN
31      1.000000                 NaN                                NaN
32      0.651021                 NaN                                NaN
33      1.000000                 NaN                                NaN
34      1.000000                 NaN                                NaN
35      1.000000                 NaN                                NaN
36      1.000000                 NaN                                NaN
37      1.000000                 NaN                                NaN
38      1.000000                 NaN                                NaN
39      1.000000                 NaN                                NaN
40      0.702515                 NaN                                NaN
41      0.290410                 NaN                                NaN
42      1.000000                 NaN                                NaN
43      1.000000                 NaN                                NaN
44      0.418369                 NaN                                NaN
45      0.326240                 NaN                                NaN
46      0.175542                 NaN                                NaN
47      0.362533                 NaN                                NaN
48      1.000000                 NaN                                NaN
49           NaN                 NaN                                NaN
50           NaN                 NaN                                NaN
51           NaN                 NaN                                NaN
52           NaN                 NaN                                NaN
53           NaN                 NaN                                NaN
54           NaN                 NaN                                NaN
55           NaN                 NaN                                NaN

    club or bar with  home without  business meeting without  \
0           0.181818      1.000000                  0.318182
1           1.000000      0.353333                  0.133333
2           1.000000      0.500000                  0.766667
3           1.000000      0.906667                  0.353333
4           0.693878      0.280000                  0.906667
5           1.000000      1.000000                  0.413333
6           0.200000      0.760000                  1.000000
7           0.520000      0.764439                  1.000000
8           0.509091      0.557482                  0.426768
9           0.726277      0.844898                  1.000000
10          0.720000      0.558503                  0.936131
11          1.000000      0.782847                  0.318182
12          0.360000      0.766667                  0.318182
13          0.360000      0.760000                  0.353333
14          0.136000      0.133333                  0.726277
15          1.000000      0.762774                  0.906667
16          0.584000      0.950730                  0.590909
17          1.000000      0.552920                  0.760000
18          0.200000      0.486314                  1.000000
19          1.000000      1.000000                  0.899320
20          0.000000      0.353333                  0.591671
21          0.520000      0.318182                  0.782847
22          0.520000      0.466667                  0.590909
23          1.000000      0.906667                  1.000000
24          1.000000      0.664234                  1.000000
25          1.000000      1.000000                  0.760000
26          1.000000      1.000000                  1.000000
27          1.000000      0.466667                  0.766667
28          1.000000      0.484848                  0.600000
29          0.755102      0.666667                  0.612803
30          1.000000      0.318182                  0.914286
31          0.837551      0.766667                  1.000000
32          1.000000      0.333333                  0.457143
33               NaN      0.766667                  0.333333
34               NaN      0.353333                  0.000000
35               NaN      0.766667                  0.766667
36               NaN      0.772727                  0.906667
37               NaN      1.000000                  0.443431
38               NaN      0.665306                  0.333333
39               NaN      1.000000                  0.600000
40               NaN      0.665306                  0.466667
41               NaN      0.184307                  1.000000
42               NaN      0.133333                  0.184307
43               NaN      0.000000                  0.823129
44               NaN      0.766667                       NaN
45               NaN      0.766667                       NaN
46               NaN      0.866667                       NaN
47               NaN      0.333333                       NaN
48               NaN      0.423358                       NaN
49               NaN      1.000000                       NaN
50               NaN      0.318182                       NaN
51               NaN      0.766667                       NaN
52               NaN      0.466667                       NaN
53               NaN      0.772727                       NaN
54               NaN      0.677007                       NaN
55               NaN      0.906667                       NaN

    gym/sport without  party without  outdoor without  school/office without  \
0            0.549270       1.000000         1.000000               0.828467
1            1.000000       0.653333         0.766667               0.760000
2            0.280000       0.172445         0.353333               0.318182
3            0.906667       0.760000         0.914286               0.720803
4            1.000000       0.252381         0.606752               1.000000
5            0.286496       0.606752         1.000000               0.395238
6            0.766667       1.000000         0.413333               0.720803
7            0.322993       0.500000         0.764310               0.549270
8            0.840328       0.240816         0.000000               0.835766
9            0.908759       0.353333         0.642336               0.077555
10           1.000000       0.657847         0.839456               0.726277
11           0.714286       0.203401         0.950730               1.000000
12           0.318182       1.000000         0.368707               0.950730
13           0.906667       0.881633         0.466667               0.600000
14           0.133333       0.835766         0.513686               1.000000
15           0.256504       0.578467         0.213504               0.000000
16           0.771898       0.418796         1.000000               0.600000
17           0.333333       0.552920         0.172445               0.000000
18           0.000000       0.726277         0.635036               0.507299
19           0.600000       0.557482         1.000000               0.229339
20           0.590909       1.000000         0.318182               0.853382
21           0.866667       1.000000         1.000000               0.600000
22           0.600365       0.772727         0.347628               0.500000
23           0.500000       0.466667         0.600000                    NaN
24           0.590909       0.600000         1.000000                    NaN
25           0.906667       1.000000         1.000000                    NaN
26                NaN       0.000000         0.581114                    NaN
27                NaN       0.416327         0.720803                    NaN
28                NaN       0.166667         0.866667                    NaN
29                NaN       0.906667         0.906667                    NaN
30                NaN       0.413333         0.466667                    NaN
31                NaN       1.000000         0.000000                    NaN
32                NaN       0.534014         0.760000                    NaN
33                NaN       0.549660         1.000000                    NaN
34                NaN       0.677007         0.447619                    NaN
35                NaN       0.000000         0.662099                    NaN
36                NaN       0.280000         0.597428                    NaN
37                NaN       0.500000         0.840328                    NaN
38                NaN       0.353333         0.835766                    NaN
39                NaN       0.000000         0.600000                    NaN
40                NaN       0.363139         0.500000                    NaN
41                NaN       1.000000         1.000000                    NaN
42                NaN       0.600000         0.280000                    NaN
43                NaN       0.333333         0.443431                    NaN
44                NaN       0.600000         0.600000                    NaN
45                NaN       0.184307         0.166667                    NaN
46                NaN       0.590909         0.000000                    NaN
47                NaN       0.000000         0.353333                    NaN
48                NaN            NaN         0.466667                    NaN
49                NaN            NaN         1.000000                    NaN
50                NaN            NaN         0.280000                    NaN
51                NaN            NaN         0.166667                    NaN
52                NaN            NaN              NaN                    NaN
53                NaN            NaN              NaN                    NaN
54                NaN            NaN              NaN                    NaN
55                NaN            NaN              NaN                    NaN

    meetup with friends & family without  club or bar without
0                               0.881633             1.000000
1                               0.166667             0.348540
2                               1.000000             0.000000
3                               0.436735             0.318182
4                               0.318182             0.895238
5                               0.133333             0.466667
6                               1.000000             0.274830
7                               0.782847             1.000000
8                               1.000000             1.000000
9                               0.725850             0.866667
10                              0.166667             0.600000
11                              0.280000             0.653333
12                              0.000000             0.906667
13                              0.280000             0.166667
14                              0.760000             0.760000
15                                   NaN             0.353333
16                                   NaN             0.848299
17                                   NaN             0.646847
18                                   NaN             0.000000
19                                   NaN             0.500000
20                                   NaN             0.810204
21                                   NaN             0.760000
22                                   NaN                  NaN
23                                   NaN                  NaN
24                                   NaN                  NaN
25                                   NaN                  NaN
26                                   NaN                  NaN
27                                   NaN                  NaN
28                                   NaN                  NaN
29                                   NaN                  NaN
30                                   NaN                  NaN
31                                   NaN                  NaN
32                                   NaN                  NaN
33                                   NaN                  NaN
34                                   NaN                  NaN
35                                   NaN                  NaN
36                                   NaN                  NaN
37                                   NaN                  NaN
38                                   NaN                  NaN
39                                   NaN                  NaN
40                                   NaN                  NaN
41                                   NaN                  NaN
42                                   NaN                  NaN
43                                   NaN                  NaN
44                                   NaN                  NaN
45                                   NaN                  NaN
46                                   NaN                  NaN
47                                   NaN                  NaN
48                                   NaN                  NaN
49                                   NaN                  NaN
50                                   NaN                  NaN
51                                   NaN                  NaN
52                                   NaN                  NaN
53                                   NaN                  NaN
54                                   NaN                  NaN
55                                   NaN                  NaN

In [16]:
final_scores_df.to_csv('norm_data_wtau.csv')

In [17]:
# Calculate the average and standard deviation values for calculated rank measure
for each in final_scores_df1.columns:
    a = list(final_scores_df1[each].dropna())
    a = np.array(a)    
    print(f"length of {each} is {a.size}")     
    print(f"average of {each} is {a.mean()}")
    print(f"std of {each} is {a.std()}")

length of home with is 52
average of home with is 0.4699902041621635
std of home with is 0.566444382448706
length of business meeting with is 43
average of business meeting with is 0.6033305936398874
std of business meeting with is 0.4869408979084124
length of gym/sport with is 31
average of gym/sport with is 0.6105814428432074
std of gym/sport with is 0.5289045866610831
length of party with is 36
average of party with is 0.5188684723084331
std of party with is 0.639120005076046
length of outdoor with is 49
average of outdoor with is 0.5543436862144893
std of outdoor with is 0.465136249243258
length of school/office with is 26
average of school/office with is 0.6410866020104247
std of school/office with is 0.5307681917287927
length of meetup with friends & family with is 18
average of meetup with friends & family with is 0.6907230809466767
std of meetup with friends & family with is 0.4612219288928803
length of club or bar with is 33
average of club or bar with is 0.536551367445291
std of club or bar with is 0.5351392618418521
length of home without is 56
average of home without is 0.27995019602543963
std of home without is 0.5279541570442495
length of business meeting without is 44
average of business meeting without is 0.3209610152417279
std of business meeting without is 0.5622150861120383
length of gym/sport without is 26
average of gym/sport without is 0.22699228012764838
std of gym/sport without is 0.5802443238055797
length of party without is 48
average of party without is 0.09415577926592002
std of party without is 0.6021169618381927
length of outdoor without is 52
average of outdoor without is 0.20880689649125672
std of outdoor without is 0.6027545046365489
length of school/office without is 23
average of school/office without is 0.19766190149935572
std of school/office without is 0.6069958768657684
length of meetup with friends & family without is 15
average of meetup with friends & family without is 0.05758838496690425
std of meetup with friends & family without is 0.6971072717925537
length of club or bar without is 22
average of club or bar without is 0.19777036241414592
std of club or bar without is 0.6236491268291907

In [18]:
# Calculate an example t-test for shopping intent of "Business Meeting"
for each in final_scores_df1.columns:
    if each=='business meeting with':
        a = list(final_scores_df1[each].dropna())
    if each=='business meeting without':
        b = list(final_scores_df1[each].dropna())
result = pg.ttest(a,b,correction=True)
print(result)

               T        dof alternative     p-val         CI95%   cohen-d  \
T-test  2.476893  83.804076   two-sided  0.015263  [0.06, 0.51]  0.530257

         BF10   power
T-test  3.137  0.6861

In [19]:
# It calculates the t-test results for all shopping intents
t_test_result = []
x = final_scores_df1.columns
i = 0; j = 8
for k in range(0, 8):
    a_size = final_scores_df1[x[i]].dropna().values.size
    b_size = final_scores_df1[x[j]].dropna().values.size
    if a_size <= b_size:
        a_sample = random.sample(final_scores_df1[x[i]].dropna().values.tolist(), a_size)
        b_sample = random.sample(final_scores_df1[x[j]].dropna().values.tolist(), a_size)
        a1_size = a_size
        b1_size = a_size
        result = pg.ttest(a_sample,b_sample,correction=True)
        t_test_result.append(a1_size)
        t_test_result.append(result)
    elif a_size > b_size:
        a_sample = random.sample(final_scores_df1[x[i]].dropna().values.tolist(), b_size)
        b_sample = random.sample(final_scores_df1[x[j]].dropna().values.tolist(), b_size)
        a1_size = b_size
        b1_size = b_size
        result = pg.ttest(a_sample,b_sample,correction=True)
        t_test_result.append(a1_size)
        t_test_result.append(result)
    i = i + 1
    j = j + 1
t_test_result

[52,
                T         dof alternative     p-val         CI95%   cohen-d  \
 T-test  1.714354  101.440576   two-sided  0.089517  [-0.03, 0.4]  0.336213

          BF10     power
 T-test  0.762  0.396884  ,
 43,
                T        dof alternative     p-val         CI95%   cohen-d  \
 T-test  2.329678  82.456274   two-sided  0.022269  [0.04, 0.49]  0.502431

          BF10     power
 T-test  2.332  0.634217  ,
 26,
                T        dof alternative     p-val         CI95%   cohen-d  \
 T-test  2.470045  48.654525   two-sided  0.017065  [0.07, 0.68]  0.685067

          BF10     power
 T-test  3.193  0.678115  ,
 36,
                T        dof alternative     p-val         CI95%   cohen-d  \
 T-test  2.877351  69.953691   two-sided  0.005313  [0.13, 0.73]  0.678198

          BF10     power
 T-test  7.619  0.809948  ,
 49,
                T        dof alternative     p-val         CI95%   cohen-d  \
 T-test  3.297008  89.843857   two-sided  0.001401  [0.14, 0.58]  0.666096

           BF10     power
 T-test  22.618  0.903864  ,
 23,
                T        dof alternative     p-val        CI95%  cohen-d  \
 T-test  2.606179  43.179572   two-sided  0.012515  [0.1, 0.79]  0.76852

          BF10     power
 T-test  4.126  0.722065  ,
 15,
                T        dof alternative     p-val         CI95%   cohen-d  \
 T-test  2.607529  25.142729   two-sided  0.015125  [0.12, 1.06]  0.952135

          BF10     power
 T-test  3.865  0.711343  ,
 22,
                T        dof alternative     p-val          CI95%   cohen-d  \
 T-test  1.960008  41.125463   two-sided  0.056794  [-0.01, 0.72]  0.590965

          BF10     power
 T-test  1.353  0.482169  ]

In [20]:
# It makes a text file incorporating all results of t-test calculation
f = open("results_for_t_test_after_sampling_wtau.txt", "a")
x = final_scores_df.columns
i = 0; j = 8
for k in range(0, 8):
    a_size = final_scores_df[x[i]].dropna().values.size
    b_size = final_scores_df[x[j]].dropna().values.size
    if a_size <= b_size:
        a_sample = random.sample(final_scores_df[x[i]].dropna().values.tolist(), a_size)
        b_sample = random.sample(final_scores_df[x[j]].dropna().values.tolist(), a_size)
        a_mean = np.array(a_sample).mean()
        a_std = np.array(a_sample).std()
        b_mean = np.array(b_sample).mean()
        b_std = np.array(b_sample).std()
        a1_size = a_size
        b1_size = a_size
    elif a_size > b_size:
        a_sample = random.sample(final_scores_df[x[i]].dropna().values.tolist(), b_size)
        b_sample = random.sample(final_scores_df[x[j]].dropna().values.tolist(), b_size)
        a_mean = np.array(a_sample).mean()
        a_std = np.array(a_sample).std()
        b_mean = np.array(b_sample).mean()
        b_std = np.array(b_sample).std()
        a1_size = b_size
        b1_size = b_size
    f.write(f'{x[i]}\n {a1_size}, {a_mean}, {a_std}\n')
    f.write(f'{x[j]}\n {b1_size}, {b_mean}, {b_std}\n')
    i = i + 1
    j = j + 1
f.close()

In [21]:
# It prints file content containing t-test results
df = pd.read_csv('results_for_t_test_after_sampling_wtau.txt')
print(df.iloc[:,0])

 52                                   0.694225    0.326795
home without                          NaN              NaN
 52                                   0.629204    0.260872
business meeting with                 NaN              NaN
 43                                   0.741220    0.317671
business meeting without              NaN              NaN
 43                                   0.656698    0.283248
gym/sport with                        NaN              NaN
 26                                   0.752841    0.321726
gym/sport without                     NaN              NaN
 26                                   0.613496    0.290122
party with                            NaN              NaN
 36                                   0.759434    0.319560
party without                         NaN              NaN
 36                                   0.531481    0.317984
outdoor with                          NaN              NaN
 49                                   0.715909    0.296509
outdoor without                       NaN              NaN
 49                                   0.588399    0.299574
school/office with                    NaN              NaN
 23                                   0.756563    0.328341
school/office without                 NaN              NaN
 23                                   0.598831    0.303498
meetup with friends & family with     NaN              NaN
 15                                   0.762347    0.343077
meetup with friends & family without  NaN              NaN
 15                                   0.528794    0.348554
club or bar with                      NaN              NaN
 22                                   0.739224    0.319535
club or bar without                   NaN              NaN
 22                                   0.598885    0.311825
Name: home with, dtype: float64